body { 
  font-family: sans-serif; 
} 
a { 
  text-decoration: none; 
  color:#82b827; 
  /* color:orangered;  */
} 
img { 
  margin: 5px 0; 
} 

.bold { 
  font-weight: bold; 
} 
.center { 
    margin: 0 auto; 
} 
.no-block { 
    display: inline; 
} 
.objects_list { 
  width: 80%; 
  text-align: center; 
} 
.text_center { 
  text-align: center; 
} 


@media only screen and (max-width: 500px) {
  .pdf_doc { 
    margin: 5px auto; 
    width: 300px; 
    height: 100px; 
  } 
  #map{ 
    height:200px; 
    width: 350px; 
  } 
} 

@media only screen and (min-width: 501px) {
  #home { 
    width: 45%; 
    margin: 0 auto; 
  } 
  /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */ 
  #map { 
    height:300px;
  } 
  .pdf_doc { 
    margin: 10px auto; 
    width: 400px; 
    height: 400px; 
  } 
} 

